<md-card>
    <img src="../assets/angular.jpg" class="md-card-image" alt="angurar">
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">Angular 2 CRUD app</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <p>
            The titles of Washed Out's breakthrough song and the first single from Paracosm share the two most important words in Ernest
            Greene's musical language: feel it. It's a simple request, as well...
        </p>       
    </md-card-content>
    <md-card-actions align="end">

    </md-card-actions>
</md-card>