<h2>Categories</h2>
<button *ngIf="editMode" (click)="showForm = !showForm" md-button md-no-ink class="md-primary">
    <i class="material-icons">add</i> Add category
</button>
<category-form *ngIf="showForm" (addCategory)="addCategory($event)" (updateCategory)="save($event)" (cancelForm)="cancel($event)"
    [categoryToEdit]="categoryToUpdate"></category-form>
<md-data-table layout-fill>
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th *ngIf="editMode">Visiblility</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody *ngFor="let category of categories | async">
        <tr *ngIf="category.is_visible || editMode">
            <td class="md-text-cell">{{category.name}}</td>
            <td>{{category.description}}</td>
            <td *ngIf="editMode">{{category.is_visible}}</td>
            <td>
                <div layout="row" layout-align="end center">

                    <button md-fab class="md-primary" aria-label="Details" (click)="goToCategoryDetails(category.id)">
                       <i class="material-icons">developer_board</i>
                    </button>
                    <label class="fab-label">Details</label>

                    <button *ngIf="editMode" md-fab class="md-primary" aria-label="Edit" (click)="edit(category)">
                        <i class="material-icons">edit</i>
                    </button>
                    <label *ngIf="editMode" class="fab-label">Edit</label>

                    <button *ngIf="editMode" md-fab class="md-warn" aria-label="Delete" (click)=" confirm.show(); setToDelete(category.id)">
                        <i class="material-icons">delete</i>
                    </button>
                    <label *ngIf="editMode" class="fab-label">Delete</label>

                </div>
            </td>
        </tr>
    </tbody>
</md-data-table>

<md-dialog #confirm (onClose)="confirmClose($event)">
    <md-dialog-title>Confirm delete</md-dialog-title>
    Are you sure to delete this element
    <md-dialog-actions>
        <span flex></span>
        <button md-button (click)="confirm.close(true)">
            <span>Yes</span>
        </button>
        <button md-button class="md-primary" (click)="confirm.close(false)">
            <span>Cancel</span>
        </button>
    </md-dialog-actions>
</md-dialog>