<h2>Create new category</h2>
<form>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" [(ngModel)]="category.name" id="name" placeholder="Nazwa">
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <input type="text" class="form-control" [(ngModel)]="category.description" id="description" placeholder="Opis">
  </div>
  <div class="checkbox">
    <label>
      <input checked   [(ngModel)]="category.is_visible"  type="checkbox"> Visible
    </label>
  </div>
  <button *ngIf="!editMode" type="button" (click)="add()" class="btn btn-primary">Add</button>
  <button *ngIf="editMode" type="button" (click)="save()" class="btn btn-success">Save</button>
  <button *ngIf="editMode" type=" button " (click)="cancel() " class="btn btn-warning ">Cancel</button>
  <button *ngIf="editMode" type="button" (click)="delete()" class="btn btn-danger">Delete</button>
</form>

<div id="confirmDialog" class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
        <h4>Confirm</h4>
      </div>
      <div class="modal-body">
        <!--Are you sure to {{ammount}} {{$ctrl.cur.Code}} buy for {{toPay | currency : ''}}??-->
      </div>
      <div class="modal-footer">
        <button  type="button" name="button" class="btn btn-primary">Buy</button>
        <button  type="button" name="button" class="btn btn-primary">Cancel</button>
      </div>
    </div>
  </div>
</div>