<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">{{category.name}}</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content class="secondary">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</md-card-content>
    <md-card-actions *ngIf="!noEdit">
        <button (click)="goToEdit()"  md-raised-button class="md-raised md-primary" >Edit</button>
    </md-card-actions>
</md-card>
<div class="col">    
    <category-list></category-list>
</div>
<div class="col">    
    <product-list></product-list>
</div>