.clear-fix {
    clear: both;
}

/*.col:first {
    float: left;
    width: 45%;
    padding: 10px;    
}*/

.col:first {
    float: left;
    width: 47%;
    padding: 10px;     
}

.col {
    float: left;
    width: 47%;
    padding: 10px; 
    margin-left: 10px;
}