<h2>Categories</h2>
<button (click)="showForm = !showForm" md-button md-no-ink class="md-primary">
    <i class="material-icons">add</i> Add category
</button>
<category-form *ngIf="showForm" (addCategory)="addCategory($event)" (updateCategory)="save($event)" (cancelForm)="cancel($event)"
    [categoryToEdit]="categoryToUpdate"></category-form>
<md-data-table layout-fill>
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let category of categories | async">
            <td class="md-text-cell">{{category.name}}</td>
            <td>{{category.description}}</td>
            <td>
                <button md-raised-button class="md-raised" (click)="goToCategoryDetails(category.id)">Details</button>
                <button md-raised-button class="md-raised md-primary" (click)="edit(category)">Edit</button>
            </td>
        </tr>
    </tbody>
</md-data-table>