<form>
  <md-card>
    <md-card-title>
      <md-card-title-text>
        <span *ngIf="!editMode" class="md-headline">Create product</span>
        <span *ngIf="editMode" class="md-headline">Update product</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-caontent>
      <div>
        <md-input placeholder="Name" [(ngModel)]="product.name"></md-input>
        <md-input placeholder="Descripton" [(ngModel)]="product.description"></md-input>
        <md-input placeholder="Price" [(ngModel)]="product.price"></md-input>
      </div>
    </md-card-caontent>
    <md-card-actions>
      <button *ngIf="!editMode" type="button" (click)="add()" md-raised-button class="md-raised-button md-primary">Add</button>
      <button *ngIf="editMode" type="button" (click)="update()" md-raised-button class="md-raised-button md-primary">Save</button>
      <button *ngIf="editMode" type="button" (click)="cancel()" md-raised-button class="md-raised-button">Cancel</button>
    </md-card-actions>
  </md-card>
</form>