<h2>Products</h2>
<button *ngIf="editMode" (click)="showForm = !showForm" md-button md-no-ink class="md-primary">
    <i class="material-icons">add</i> Add product
</button>
<product-form (addProduct)="add($event)" (updateProduct)="save($event)" (cancelForm)="cancel($event)" [productToEdit]="productToEdit"
    *ngIf="showForm"></product-form>
<md-data-table layout-fill>
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of  products | async">
            <td class="md-text-cell">{{product.name}}</td>
            <td>{{product.description}}</td>
            <td>{{product.price}}</td>
            <td>
                <div layout="row" layout-align="end center">
                    <button *ngIf="editMode"  md-fab class="md-primary" aria-label="Edit" (click)="editProduct(product)">
                        <i class="material-icons">edit</i>
                    </button>
                    <label *ngIf="editMode"  class="fab-label">Edit</label>
                    <!--</div>
                <div layout="row">-->
                    <button *ngIf="editMode"  md-fab class="md-warn" aria-label="Delete" (click)=" confirm.show(); setToDelete(product.id)">
                        <i class="material-icons">delete</i>
                    </button>
                    <label *ngIf="editMode" class="fab-label">Delete</label>
                </div>
            </td>
        </tr>
    </tbody>
</md-data-table>

<md-dialog #confirm (onClose)="confirmClose($event)">
    <md-dialog-title>Confirm delete</md-dialog-title>
    Are you sure to delete this element
    <md-dialog-actions>
        <span flex></span>
        <button md-button (click)="confirm.close(true)">
            <span>Yes</span>
        </button>
        <button md-button class="md-primary" (click)="confirm.close(false)">
            <span>Cancel</span>
        </button>
    </md-dialog-actions>
</md-dialog>